#ijs_modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.1);
}

/* Modal Content */
.ijs_modal--content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #aaa;
  width: 70%;
}

/* The Close Button */
.ijs_modal--close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: 0;
  background-color: transparent;
}

.ijs_modal--close:hover,
.ijs_modal--close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}